<div *ngIf="!isLoading; else ElseBlock" class="cards">
    <div *ngFor="let items of data; index as i">
        <app-card [cityName]="items.name" [temperature]="items.main.temp" [wind]="items.wind.speed" (click)="goToDetails(items.name)"></app-card>
    </div>
    <p-card header="Add city" [style]="{width: '150px'}" styleClass="p-card-shadow">
        <div class="card-container">
          <div class="card primary-box" pRipple (click)="showMaximizableDialog()">
            <img alt="Card" src="../assets/svg/add.svg" width="68" height="68">
          </div>
          
        </div>
      </p-card>
</div>

<ng-template #ElseBlock>
    <div class="skeleton">
        <div *ngFor="let items of skeletonItems; index as i">
            <div class="grid formgrid">
                <div class="skeleton-container">
                    <p-skeleton styleClass="mb-2"></p-skeleton>
                    <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
                    <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
                    <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
                    <p-skeleton width="10rem" height="4rem"></p-skeleton>
                </div>

            </div>
        </div>