<div *ngIf="!isLoading; else ElseBlock" class="cards">
    <div *ngFor="let items of data; index as i">
        <app-card 
            [cityName]="items.name" 
            [temperature]="items.main.temp" 
            [wind]="items.wind.speed" 
            [icon]="items.weather[0].icon" 
            [weatherDescription]="items.weather[0].description"
            (click)="goToDetails(items.name)"
        ></app-card>
    </div>    
      <button pButton pRipple type="button" icon="pi pi-plus" label="Add city" (click)="showMaximizableDialog()" class="p-button p-button-text"></button>
</div>

<ng-template #ElseBlock>
    <div class="skeleton">
        <div *ngFor="let items of skeletonItems; index as i">
            <div class="grid formgrid">
                <div class="skeleton-container">
                    <p-skeleton styleClass="mb-2"></p-skeleton>
                    <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
                    <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
                    <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
                    <p-skeleton width="10rem" height="4rem"></p-skeleton>
                </div>

            </div>
        </div>