<div class="card">
    <p-tabView>
        <p-tabPanel header="Temperature">
            <div>
                <p-chart width="90vw" height="20vh" type="line" [data]="lineStylesData" [options]="basicOptions"></p-chart>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Wind">
            <div>
                <p-chart width="90vw" height="40vh" type="line" [data]="lineStylesData" [options]="basicOptions"></p-chart>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>