<div  *ngIf="!loading; else elseBlock">
   
        <p-tabView >
            <p-tabPanel header="Temperature">                
                <ng-template pTemplate="content">
                    <div class="cont">
                        <div class="weather">
                            <div class="description">
                                <strong class="name">{{cityName}}</strong>
                            </div>
                        </div> 
                        <div class="city">
                            {{dayOfWeek}}
                            <small class="description" *ngIf="today">{{weatherDescription}}</small>
                        </div>
                    </div>
                    <p-chart width="80vw" height="40vh" type="line" [data]="lineStylesData"
                        [refresh]="data" [options]="basicOptions"></p-chart>
                </ng-template>
            </p-tabPanel>   
            <p-tabPanel header="Wind">      
                <div class="windy">
                    <strong class="name">{{cityName}}</strong>
                    <div class="wind">
                        {{dayOfWeek}}
                        <small class="description" *ngIf="today">{{weatherDescription}}</small>
                    </div>
                </div>          
                <ng-template pTemplate="content">
                    <p-chart width="80vw" height="40vh" type="line" [data]="windData" [options]="optionsForWind"></p-chart>
                </ng-template>
            </p-tabPanel>   
        </p-tabView>
        <div class="buttons-container">
            <div *ngFor="let day of daysAndCodes; index as i">
                <p-card [subheader]="day.day" (click)="getCurrentDayWeather(day.day)">    
                    <img [src]="pathToSvgWeatherIcon[i]" height="50" width="50" alt="weather icon">
                    <ng-template pTemplate="footer">
                       <p class="max">{{day.temperature_2m_max}}°</p> <p class="min">{{day.temperature_2m_min}}°</p>
                    </ng-template>
                </p-card>
            </div>
        </div>
</div>
<ng-template #elseBlock>
    <div style="width: 80vw;">
        <div class="grid formgrid">
            <div class="field col-12 md:col-6 md:pr-6 pr-0">
                <div class="custom-skeleton p-4">
                    <div class="flex mb-3" style="display: flex;">
                        <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
                        <div>
                            <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
                            <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
                            <p-skeleton height=".5rem"></p-skeleton>
                        </div>
                    </div>
                    <p-skeleton width="100%" height="150px"></p-skeleton>
                    <div class="flex justify-content-between mt-3" style="display: flex; justify-content: space-between;">
                        <p-skeleton width="4rem" height="2rem"></p-skeleton>
                        <p-skeleton width="4rem" height="2rem"></p-skeleton>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</ng-template>