<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
  <h3>Welcome back!</h3>
  <span> <strong> Igor Veremiienko</strong></span>
  <br>
  <span> <a href="mailto:viruscomp7@gmail.com" target="_blank">viruscomp7@gmail.com</a> </span>
  <button pButton pRipple type="button" label="Sign out" (click)="signOut()" class="p-button-outlined p-button-rounded p-button-danger"></button>
</p-sidebar>
<p-toolbar class="toolbar">
  <div class="p-toolbar-group-left">
    <button pButton pRipple type="button" icon="pi pi-bars" (click)="visibleSidebar1 = true"
      class="p-button-rounded p-button-text"></button>
    <div class="logo"></div>
    <h2>Minimus</h2>
  </div>
  <h3>Today</h3>
  <div class="p-toolbar-group-right">
    <p-toggleButton [(ngModel)]="checked2" onLabel="Light" offLabel="Dark" onIcon="pi pi-sun" offIcon="pi pi-moon">
    </p-toggleButton>
  </div>

</p-toolbar>
<p-messages [(value)]="msgs"></p-messages>

<app-add [displayResponsive]="displayDialog"></app-add>
<div class="outlet-container">
  <p-card header="Add city" [style]="{width: '150px'}" styleClass="p-card-shadow">
    <div class="card-container">
      <div class="card primary-box" pRipple (click)="showMaximizableDialog()">
        <img alt="Card" src="../assets/svg/add.svg" width="50" height="50">
      </div>
      
    </div>
  </p-card>
  <router-outlet></router-outlet>
</div>