.grid .p-fluid .ng-tns-c22-1 {
    display: flex!important;
    justify-content: center!important;
}

._ngcontent-cuf-c65 {
    width: inherit!important;
}

.p-inputgroup .p-inputtext, .p-fluid .p-inputgroup .p-inputtext, .p-inputgroup .p-inputwrapper, .p-inputgroup .p-inputwrapper>.p-component{
    width: 100%!important;
}